<html>
<head>
    <meta charset="utf-8">
    <title>Meetup Lottery</title>
    <link rel="stylesheet" href="public/style.css">
</head>
<body>
<h1>Meetup Lottery</h1>

{% block content %}{% endblock %}

</body>
</html>